:root {
  --btn-color: #404bbf;
  --iris-color: #4d5ae5;
  --navi-blue-color: #2e2f42;
  --cloud-color: #f4f4fd;
  --slate-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--slate-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo-h {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  /* identical to box height, or 117% */
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  /* identical to box height, or 117% */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navi-blue-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*-3-3-3-3-3-3-3-3-3- HEADER */

.header-container {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-h {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  display: flex;
  padding: 24px 0;
}

.nav-item-link:hover {
  color: var(--btn-color);
}

.nav-item-link:focus {
  color: var(--btn-color);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: var(--slate-color);
  padding: 24px 0;
}

.address-link:hover {
  color: var(--btn-color);
}

.address-link:focus {
  color: var(--btn-color);
}

/* -1-1-1-1-1-1-1-1-1-1- HERO */

.hero {
  /* background-color: var(--navi-blue-color); */

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
}

.section.hero {
  padding: 188px 0;
}

.hero-title {
  /* background-color: var(--navi-blue-color); */
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 496px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--iris-color);
  cursor: pointer;
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: block;
  min-width: 169px;
  height: 56px;
}

.hero-btn:hover {
  background-color: #404bbf;
}

.hero-btn:focus {
  background-color: #404bbf;
}

/* !_!_____OUR FEATURES */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.features-list-item {
  gap: 24px;
  width: calc((100% - 72px) / 4);
}

.features-icon {
  margin-bottom: 8px;
}

.fetures-cont-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.feature-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  margin-bottom: 8px;
}

.feature-description {
  font-size: 16px;
  line-height: 1.5em;
  /* or 150% */
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/*-3-3-3-3-3-3-3-3- WHAT ARE WE DOING */

.section-eg {
  padding-bottom: 120px;
}

.eg-title {
  margin-bottom: 72px;
}

.eg-list {
  display: flex;
  gap: 24px;
}

.eg-item {
  width: calc((100% - 48px) / 3);
}

.eg-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  /* identical to box height, or 111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue-color);
  text-align: center;
}

/* -3-3-3-3-3-3-3-3-3-OUR TAEM */

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  /* identical to box height, or 111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue-color);
  text-align: center;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.our-team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  margin-bottom: 8px;
}

.name-d-ion {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 32px 16px 8px 16px;
}

.our-team-job {
  font-size: 16px;
  line-height: 1.5em;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.worker-links {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0px 16px 32px 16px;
}

.soc-icon:hover {
  fill: var(--btn-color);
}

/* -5-5-5-5-5-5-5-5-5-5-Customers */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  /* identical to box height, or 111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navi-blue-color);
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customers-item {
  width: calc((100% - 150px / 6));
  height: 90px;
}
.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid #999999;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.customer-icon {
  width: 168px;
  height: 88px;
}

/** ----------------------------FOOTER */

.footer {
  background: var(--navi-blue-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  /* identical to box height, or 117% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}

.fter {
  color: #f4f4fd;
  display: inline-block;
  margin: 0;
}

.footer-title {
  line-height: 1.5;
  /* or 150% */
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  max-width: 264px;
}

.footer-media {
  margin-left: 120px;
  align-items: baseline;
  margin-right: 120px;
}

.soc-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-links {
  display: flex;
  gap: 16px;
  justify-content: center;
}

/* _$_$_$_$_$_$_$_$_$_$_ADDITIONAL INFO FOR PORTFOLIO */

.sec-images {
  padding: 96px 0 120px 0;
}

.btn {
  font-family: "Roboto", sans-serif;
  background-color: var(--cloud-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  color: #ffffff;
  letter-spacing: 0.04em;
  color: var(--iris-color);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  border: 1px solid #e7e9fc;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.btn:hover {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btns-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* .btn-item {
} */

.images-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.image-item {
  width: calc((100% - 48px) / 3);
}

.image-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-link {
  display: block;
}

.image-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.image-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.name-image {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */
  letter-spacing: 0.02em;
  color: var(--navi-blue-color);
  margin-bottom: 8px;
}

.image-description {
  line-height: 1.5;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;
  color: var(--slate-color);
}
